<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.home">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission
        android:name="android.permission.READ_PRIVILEGED_PHONE_STATE"
        tools:ignore="ProtectedPermissions" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/launcher"
        android:roundIcon="@drawable/launcher"
        android:label="TAB SYSTEM"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <activity
            android:name=".IPAdderss_Activity"
            android:exported="false" />
        <activity
            android:name=".Liquor_Stock_ctivity"
            android:excludeFromRecents="true"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Other_Stock_ctivity"
            android:excludeFromRecents="true"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Print_Kot_Activity"
            android:excludeFromRecents="true"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Cancel_Kot_Activity"
            android:excludeFromRecents="true"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Swap_Table_Activity"
            android:excludeFromRecents="true"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ReportActivity"
            android:excludeFromRecents="true"
            android:theme="@style/AppTheme.NoActionBar" /> <!-- <activity android:name=".Home"></activity> -->
        <activity
            android:name=".IMEI_Activity"
            android:excludeFromRecents="true"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".MenuCard"
            android:excludeFromRecents="true"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Home"
            android:excludeFromRecents="true"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Splash_Activity"
            android:excludeFromRecents="true"
            android:exported="true"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Login"
            android:excludeFromRecents="true"
            android:theme="@style/AppTheme.NoActionBar" />
    </application>

</manifest>